<html>
<head>
</head>
<body>
<form action="/create flights" method="POST">
  <input type="text" name = "airline_name" placeholder="Airline name" required/> </br>
  <input type="number" name = "flight_num" placeholder="Flight number" required/> </br>
  <input type="text" name = "departure_airport" placeholder="Departure airport" required/> </br>
  <input type="text" name = "departure_time" placeholder="Departure time (yyyy-mm-dd HH:MM:SS)" required/> </br>
  <input type="text" name = "arrival_airport" placeholder="Arrival airport" required/> </br>
  <input type="text" name = "arrival_time" placeholder="Arrival time (yyyy-mm-dd HH:MM:SS)" required/> </br>
  <input type="number" name = "price" placeholder="price" required/> </br>
  <input type="text" name = "status" placeholder="Flight status" required/> </br>
  <input type="number" name = "airplane_id" placeholder="Ariplane id" required/> </br>
  <input type="submit" value = register />
</form>
{% if success %}
  <p class="success!"><h3>success, </h3> <h2>{{success}}</h2></p>
{% endif %}
<a href="/login_success_staff">Go back</a>
</body>
</html>
