<!DOCTYPE html>
<html>
<title>
	AirTicket
</title>
<head>
  <style>
      body {
        background-color: #8ebc42;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
  </style>
<center>
	<h1>Welcome to the Air Ticket Reservation System!</h1>
	<h2>You can start with the following actions:</h2>
</center>
</head>

<body>
<center>
<form action="/login" method="GET">
  <input type="submit" value = Login />
</form>
<form action="/register" method="GET">
  <input type="submit" value = Register />
</form>
<form action="/search" method="GET">
  <input type="submit" value = Search />
</form>
</center>
</body>

</html>
