<html>
<head>
  <style>
      body {
        background-color: #8ebc42;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
  </style>

</head>
<body>
	<h1>Login Successful!</h1>
	<h1>Here are the options for the booking agent</h1>
	<form action="/agent_view_flights" method="GET">
		<input type="submit" value = "view flights I purchased for customers" />
	</form>
	<form action="/agent_purchase" method="GET">
		<input type="submit" value = "purchase tickets for customers" />
	</form>
	<form action="/searchit" method="POST">
	  <input type="text" name = "airportsource" placeholder="source city/source airport" required/> </br>
	  <input type="text" name = "airportdestination" placeholder="destination city/destination airport" required/> </br>
		<input type="submit" value = "search for flights" /></br>
		{% if error %}
			<p class="error"><h3>Error, </h3> <h2>{{error}}</h2></p>
		{% endif %}
	</form></br>
	<form action="/view_my_total_commission" method="GET">
		<input type="submit" value = "view total commission within the past month" />
	</form>
  <form action="/view_my_average_commission" method="GET">
		<input type="submit" value = "view average commission within the past month" />
	</form>
	<form action="/view_top_customers" method="GET">
		<input type="submit" value = "view top customers" />
	</form>
<a href="/Logout">Logout</a>

</body>
</html>
