<html>
<head>
  <style>
      body {
        background-color: #8ebc42;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
      }
  </style>

</head>
<body>
  <h2>You can use the following registration types:</h2>
  <h3></h3>
  <h3>customer</h3>
  <h3>booking agent</h3>
  <h3>staff</h3>
<form action="/registerAuth" method="POST">
	<input type="text" name = "type" placeholder="type_of_registration" required/> </br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/">Go back</a>
</body>
</html>
