<html>
<head>
</head>
<body>
	<form action="/year_bar" method="GET">
		<input type="submit" value = "View bar chart of expenditure within past year" />
	</form>
	<form action="/6month_bar" method="GET">
		<input type="submit" value = "View bar chart of expenditure within past 6 months" />
	</form>
  <form action="/specify_dates" method="POST">
	  <input type="number" name = "from" placeholder=" from month (number please)" required/> </br>
	  <input type="number" name = "to" placeholder="to month (number)" required/> </br>
    <input type="submit" value = "enter" /></br>
		{% if error %}
			<p class="error"><h3>Error, </h3> <h2>{{error}}</h2></p>
		{% endif %}
	</form>
<a href="/login_success_customer">back</a>

</body>
</html>
